<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Cadastro do Pet</title>

  <link href="/materialize/bootstrap-5.2.1-dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="form-validation.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-light"></body>
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="../html/paginainicial.html" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="../html/sobrenos.html" class="nav-link px-2 link-dark">Sobre Nós</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Parceiros</a></li>
      </ul>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Login
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Parceiro</a></li>
          <li><a class="dropdown-item" href="#">Dono Pet</a></li>
        </ul>
      </div>

  </div>
</header>

<div class="container">
  <div class="row  g-3">
    <div class="col-sm">
      <h2>Cadastro do Pet</h2>
    </div> 
    <div class="col-auto">
    <button class="btn btn-primary btn" id="btn-cadastro" data-bs-toggle="modal" data-bs-target="#JanelaModal" type="submit">
      Cadastrar
  </button>
    </div>
    <div class="row g-3">
      <div class="col-sm">
      <input type="search" class="form-control" id="pesquisaPet" placeholder="Pesquisa" required>
    </div>
    <div class="col-auto">
      <button class="btn btn-primary">Pesquisar</button>
    </div>
    </div>
</div> <br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome do Pet</th>
      <th scope="col">Idade</th>
      <th scope="col">Genero</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Mel</th>
      <td>2</td>
      <td>Femêa</td>
      <!--Colocar imagens com ações-->
      <td></td>
    </tr>
    <tr>
      <th scope="row">Turquesa</th>
      <td>12</td>
      <td>Femêa</td>
      <!--Colocar imagens com ações-->
      <td></td>
    </tr>
  </tbody>
</table>

    <main>
    <div id = "JanelaModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title">Cadastro do Pet</h3>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                        <form method="post" th:action="InsertPet" th:object="${pet}"  class="needs-validation" novalidate>
                            <div class="form-group">
                              <h4 class="mb-3">Informações do Pet</h4>
                              <label for="nomePet" class="form-label">Nome do Pet</label>
                              <input type="text" class="form-control" id="nomePet" placeholder="Digite o nome do pet" th:field="*{nomePet}" required>
                              <div class="invalid-feedback">
                                Por favor, informe o nome.
                              </div>
                            </div>
                              <div class="form-group">
                                <label for="idadePet" class="form-label">Idade do Pet</label>
                                 <input type="number" class="form-control" id="idadePet" placeholder="Digite a idade do pet" th:field="*{idade}"required>
                                 <div  id="erro-ida   de"  class="invalid-feedback">
                                  Por favor, informe a idade.<i class="fas fa-id-badge    "></i>.
                                </div>
                                </div>
                              <!--<div class="form-group">
                                <label for="dtNascPet" class="form-label">Data de Nascimento </label>
                                <input type="date" class="form-control" id="dtNascPet" placeholder="">
                              </div>-->
                              <div class="form-group">
                                <label for="pesoPet" class="form-label">Peso do Pet</label>
                                <input type="number" class="form-control" id="pesoPet" maxlength="5" onkeypress="$(this).mask('00,00', {reverse: true});" placeholder="Digite o peso de pet" th:field="*{peso}"required>
                                <div class="invalid-feedback">
                                  Por favor, informe o peso.
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="racaPet" class="form-label">Raça do Pet</label>
                                <input type="text" class="form-control" id="racaPet" placeholder="Digite a raça do Pet" th:field="*{raca}"required>
                                <div class="invalid-feedback">
                                  Por favor, informe a raça.
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="corPet" class="form-label">Cor do Pet</label>
                                <input type="text" class="form-control" id="corPet" placeholder="Cor do Pet" th:field="*{cor}" required>
                                <div class="invalid-feedback">
                                  Por favor, informe o cor.
                                </div>
                              </div>
                              <!--<div class="form-group">
                                <h4 class="mb-1">Genero</h4>
                                <div class="form-check">
                                  <input id="femea" name="genero" type="radio" class="form-check-input" checked required>
                                  <label class="form-check-label" for="femea">Femêa</label>
                                </div>
                                <div class="form-check">
                                  <input id="macho" name="genero" type="radio" class="form-check-input" required>
                                  <label class="form-check-label" for="macho">Macho</label>
                                </div>
                              </div>-->
                              <div class="form-group">
                                <label for="obspet" class="form-label">Observações</label>
                                <input type="text" class="form-control" id="obspet" placeholder="" th:field="*{obs}"required>
                              </div>
                            </div>
                             <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                             <button type="submit" class="btn btn-primary" onclick="validar()">Enviar</button>
                      </div>
                    </form>
            </div>
        </div>
    </div>

      <div class="py-5 text-center">
      
      </div>
    
  </main>
  </div>

  <script src="/materialize/bootstrap-5.2.1-dist/js/bootstrap.bundle.js"></script>

  <script src="../js/form-validation.js"></script>

  <script src="../js/cadastrodopet.js"></script>
</body>

</html>